version: '3.8'

services:
 rabbitmq:
  image: rabbitmq:3-management-alpine 
  container_name: rabbitmq
  ports:
   - "5672:5672" #broker
   - "15672:15672"  #for dashboard
  environment:
    RABBITMQ_DEFAULT_USER: guest
    RABBITMQ_DEFAULT_PASS: guest
   